.Toastify__toast--warning {
  background-color: $button-color !important;
}

.Toastify__toast-body {
  color: black;
  padding-left: 1rem;
}

.Toastify__close-button {
  color: black !important;
}

.Toastify__toast-container {
  color: black !important;
}