.board {
  flex-basis: 85%;
  padding: 2rem 0;

  &>div>div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }

  footer {
    padding: 1rem 4rem;
    p{
      margin-top: 0.5rem;
      color: white;
      font-family: Popins;
    }
  }
}
