@import "../variables";

.button {
  background-color: $button-color;
  font-family: Popins;
  font-size: 1rem;
  border-radius: 5px;
  // padding: 1rem 2rem;
  border: none;
  transition: all 0.3s ease-in-out;
  display: block;
  margin: 2rem auto;
  text-align: center;
  width: 8rem;
  height: 3rem;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: $button_hover_color;
  }

  &:focus {
    outline: none;
  }
}
