@import "../_variables";

.buttonLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  width: 30%;
  flex-basis: 15%;
  text-align: center;
  padding: 2rem 0;
  background-color: $button-color;
  border-radius: 20px 0 0 20px;
  box-shadow: 10px -10px 30px 0 $button_hover_color;

  h2 {
    color: black;
    font-family: Popins;
  }

  footer {
    color: black;
    font-family: Popins;
    font-size: 0.8rem;
  }
}