.slot_white {
  padding: 0.7rem;
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
  margin: 0.1rem 0.2rem;
  font-family: Popins;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slot_black {
  padding: 0.7rem;
  border: 2px solid $wall_color;
  background-color: $wall-color;
  border-radius: 10px;
  margin: 0.1rem 0.2rem;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.path {
  background-color: #7bd5f5;
}

.startColor {
  background-color: #5da0fb;
}

.endColor {
  background-color: #5da0fb;
}
